@import "tailwindcss";

body {
    font-family: "Lilita One", sans-serif;
}

a.active hr {
    display: block;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

}

/* Smooth scrolling for carousel */
.carousel-container {
    scroll-behavior: smooth;
}