@import "tailwindcss";

@theme {
    --color-brand-orange: #fea802;
}

body {
    font-family: "Nunito", sans-serif;
}

.delius-unicase-regular {
    font-family: "Delius Unicase", cursive;
    font-weight: 400;
    font-style: normal;
}

.delius-unicase-bold {
    font-family: "Delius Unicase", cursive;
    font-weight: 700;
    font-style: normal;
}


a.active hr {
    display: block;
}

#hero-heading {
    font-family: "Monoton", sans-serif;

}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

}

/* Smooth scrolling for carousel */
.carousel-container {
    scroll-behavior: smooth;
}